<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bestellung</h1>
    <form action="" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="article">Artikel:</label><br>
        <input type="text" id="article" name="article"><br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>